[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
appnope =  "*"
asttokens =  "*"
attrs =  "*"
backcall =  "*"
click =  "*"
decorator =  "*"
exceptiongroup =  "*"
executing =  "*"
faker =  "*"
flask =  "*"
flask-cors =  "*"
flask-migrate =  "*"
flask-sqlalchemy =  "*"
importlib-metadata =  "*"
importlib-resources =  "*"
iniconfig =  "*"
ipdb =  "*"
ipython =  "*"
itsdangerous =  "*"
jedi =  "*"
jinja2 =  "*"
mako =  "*"
markupsafe =  "*"
matplotlib-inline =  "*"
packaging =  "*"
parso =  "*"
pexpect =  "*"
pickleshare =  "*"
pluggy =  "*"
prompt-toolkit =  "*"
ptyprocess =  "*"
pure-eval =  "*"
pygments =  "*"
pyparsing =  "*"
pytest =  "*"
python-dateutil =  "*"
setuptools =  "*"
six =  "*"
sqlalchemy = "*"
sqlalchemy-serializer =  "*"
stack-data =  "*"
toml =  "*"
tomli =  "*"
traitlets =  "*"
wcwidth =  "*"
werkzeug =  "*"
zipp =  "*"

[dev-packages]

[requires]
python_full_version = "3.11"
